* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home {
    height: 100vh;
    background-image: url("../images/home.png");
}

#header {
    background-image: url("../images/home.png");
    padding: 20px;
    text-align: center;
    text-decoration: none; /* Fixed case */
    padding-bottom: 20px;
}

#header a {

    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;

}

button {

    background-color: #aa8453;
    padding: 18px 22px;
    color: white;
    border: none;

}
 #Booking{
    
    background-color: #aa8453;
    padding: 18px 22px;
    margin-left: 300px;
    color: white;
    border: none;

}

#header button {
    margin-left: 350px;
}

img[ alt="logo"] {

    height: 40px;
    margin-right: 100px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 159px;
    width: 1200px;
}

.middleMain {
    text-align: center;
    color: #fff;

    text-transform: uppercase;

}

.middleMain>h1 {
    margin-top: 30px;
    margin-bottom: 130px;
    line-height: 1.5;
    font-size: 56px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: "Gilda Display", serif;

}

.middleMain img {
    margin-bottom: 30px;
    margin-top: 90px;
}

form {

    background-color: #fff;
    width: 1300px;
    margin: auto;
    color: black;
}

input,
select {
    border: none;
    padding: 20px 50px 20px 5px;
    border-left: 0.4px solid #aa8453;
    /* Color only the left side */
}

form td {
    /* border-collapse: collapse; */
    padding: 15px;
    /* border: 2px solid red;  */
    text-align: left;
    font-weight: bold;
}

form td label {
    padding: 6px;
}

input::placeholder,
select[name="room"] {
    color: #aa8453;

}

.hotelRated {
    height: 544px;
    background-image: url("https://hoexr-nuxt.vercel.app/_nuxt/pattern.k7eNcYmR.png");
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 200px;
}

#hotelRatedTable #RatedFimg {
    margin-top: 80px;
    margin-left: 200px;
    border-left: 8px solid #5c4a32;
}

#hotelRatedTable #hotelRated2thDiv {
    height: 544px;
    margin-left: 200px;
    margin-top: 56px;
    /* border: 2px solid rgb(103, 25, 25); */
}

#hotelRatedTable div>p,
#RoomDiv>p>span {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
    font-weight: 500;
    letter-spacing: 7.8px;
    font-family: "Barlow Condensed", sans-serif;
    ;
}



#hotelRatedTable div h1,
#RoomDiv>h1 {
    font-family: "Gilda Display", serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 54px;
}

.middle {
    margin: auto;
    text-align: center;
}

#hotelRatedTable .text {
    color: #666;
    line-height: 28px;
    margin-top: 35px;
    font-weight: 400;


}

#feature i {
    margin: 20px;
    font-size: 22px;
    color: #aa8453;
}

#feature i p {
    margin-top: 20px;
    font-size: 20px;
    color: #222;
    letter-spacing: .15px;
    font-family: "Gilda Display", serif;
}

#feature #p2 {

    font-size: 24px;
    color: #222;
    letter-spacing: .15px;
    font-family: "Gilda Display", serif;
}

#feature #p1 {

    font-size: 16;
    color: #666;
    text-transform: uppercase;

}

